<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>edu.acc.j2ee.Pic.Login</servlet-class>
        <init-param>
            <param-name>validUserName</param-name>
            <param-value>Lagrown</param-value>
        </init-param>
        <init-param>
            <param-name>validPassword</param-name>
            <param-value>x</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>edu.acc.j2ee.Pic.View</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>edu.acc.j2ee.Pic.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>UPLOAD_DIRECTORY</param-name>
        <param-value>C:/uploads</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>
</web-app>
